*.egg-info/
**/.ipynb_checkpoints/
**/__pycache__/
dist/
venv/
*.py[cod]
node_modules/


# Compiled javascript
jppype/nbextension/
jppype/labextension/
ts-src/lib/
ts-src/dist/

# lock & npm package dependency
ts-src/package-lock.json
ts-src/.yarn/
ts-src/node_modules/
ts-src/.pnp.*

# OS X
.DS_Store

# IDE
.idea/
.vscode/settings.json
